/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.clearfix::after {
    content: "";
    display: table;
    clear: both;
} */

body {

    padding: 30px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;

    /* background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg); */
    /* background-color: #401616; */
    /* color of the gradient without opacity: #401616 */
    /* color of the gradient with opacity: #B2A1A1 */
    /* background-size: cover;
    background-position: center; */

    /* position: relative; */
    /* height: 100vh; */
    color: #555;
    /* font-weight: 400; */
    /* overflow: hidden; */
}

canvas {
  margin:auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 40px;
    /* position: relative; */
}
/*
.wrapper {
    width: 1000px;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
} */

.wrapper {
  /* background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
  background-color: #f7f7f7;
  height: 40vh; */
}


/* .batan {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
} */

.batan {
  width: 300px;
  margin-right: 20px;
  color: #555;
  background: none;
  border: none;
  /* font-family: Lato; */
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

.icons {
    /* color: #EB4D4D; red color */
    color: #28B9B5;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.container-button {
  /* margin-top: 25%; */
  text-align: center;
  margin: 40px auto;
}


/* .btn-new {
  display: block;
}

.btn-roll {
  display: block;
}

.btn-hold {
  display: block;
} */

/* .btn-new {
  top: 467px;
  left: 200px;
}

.btn-roll {
  top: 467px;
  left:400px;
}

.btn-hold {
  top: 467px;
  left:600px;
} */

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.entry {
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.entry__container {
    margin: 0 auto;
    text-align: center;
}

.jibu-input,
.entry__question,
.entry__answer {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.entry__question { width: 500px;}
.entry__answer { width: 250px;}

.jibu-input {
  margin: 0 auto;
  /* text-align: center; */

}


.entry__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.entry__btn:active { transform: translateY(2px); }


.entry__question:focus,
.entry__answer:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.entry__btn:focus { outline: none; }


.question-paragraph {
  /* text-transform: uppercase; */
  font-size: 20px;
  font-weight: 400;
  /* margin-bottom: 15px; */
  color: #28B9B5;
  /* margin: 0 auto; */
  text-align: center;
  margin-bottom: 10px;
}

.jibu-paragraph {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  /* margin-bottom: 15px; */
  /* color: #28B9B5; */
  /* margin: 0 auto; */
  text-align: center;
  margin-top: 10px;
}



.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.correct {
  text-transform: uppercase;
  /* background-color: #28B9B5; */
  font-size: 13px;
  color: #28B9B5;
  /* color: #444; */
  /* margin-top: 2px; */
  padding: 12px;
  margin: 0 auto;
  text-align: center;
  /* display: inline-block; */
  /* transform: translateX(650%); */
}

.wrong {
  text-transform: uppercase;
  /* background-color: #FF5049; */
  color: #FF5049;
  font-size: 13px;
  padding: 12px;
  margin: 0 auto;
  text-align: center;
}



/**********************************************
*** FOOTER PART
**********************************************/


footer {
  display: none;
  font-family: 'Droid Serif', serif;
  text-align: center;
  font-size: 12px;
  color: #686868;
  margin-bottom: 30px;
  margin-top: 30px;
      /* color: #F44336; heart*/
          /* color: #795548; coffee*/
}
